* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

nav {
	position: sticky;
	top: 0px;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	padding-left: 10%;
	padding-right: 10%;
	background-color: white;
}

ul {
	list-style-type: none;
	position: sticky;
}

li {
	display: inline-block;
}

.right-nav {
	display: inline-block;
	position: relative;
	float: right;
}

.nav {
	padding-left: 1.5rem;
}

.tuitt-button {
	color: white;
	font-style: bold;
	border: 0;
	background-color: #c2195b;
	padding: 0.8rem;
	border-radius: 25px;
}

#bg-image {
	height: 60vh;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: cover;
	background-position: center;
	color: white;
}

.front-bg {
	padding-left: 10%;
	padding-right: 10%;
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 60vh;
}

.container {
	width: 50%;
	float: right;
	text-align: right;
}

.title {
	font-family: 'Zilla Slab', sans-serif;
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

.subtitle {
	width: 90%;
	float: right;
	font-size: 1.5rem;
}

.title-2 {
	font-family: 'Zilla Slab', sans-serif;
	text-align: center;
}

.apply-button {
	margin-top: 1rem;
	border: 0;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	padding-left: 2rem;
	padding-right: 2rem;
	background-color: #c2195b;
	color: white;
	font-style: bold;
	border-radius: 25px;
}

.intro {
	margin-top: 2rem;
	margin-right: 15%;
	margin-left: 15%;
}

.intro-description {
	margin-top: 3rem;
	text-align: justify;
}

.pre-footer {
	background-color: #f7fbfb;
	padding-top: 3rem;
	padding-bottom: 5rem;
	margin-top: 3rem;
}

.prefooter-description {
	margin-right: 15%;
	margin-left: 15%;
	margin-top: 3rem;
	text-align: center;
}

.book-button {
	margin-top: 1rem;
	background-color: #336589;
	border: none;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	padding-left: 2rem;
	padding-right: 2rem;
	color: white;
	font-style: bold;
	border-radius: 25px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 10%;
}

footer {
	text-align: center;
}

span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}